<?xml version="1.0" ?>
<robot name="scarabarm" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<!-- ros2_control configuration -->
<ros2_control name="scarabarm" type="system">
  <hardware>
    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    <!-- List all the controlled joints here -->
    <joint name="joint_1_to_joint_2" />
    <joint name="joint_2_to_link_2" />
    <joint name="link_2_to_joint_3" />
    <joint name="joint_4_to_joint_5" />
    <joint name="joint_5_to_joint_6" />
    <joint name="joint_6_to_tool0" />
  </hardware>

  <!-- Let each joint specify its command and state interfaces -->
  <joint name="joint_1_to_joint_2">
    <command_interface>position</command_interface>
    <state_interface>position</state_interface>
  </joint>

    <joint name="joint_1">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint_2">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint_3">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>   

    <joint name="joint_4">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint_5">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint_6">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position">
              <param name="initial_value">0.0</param>
            </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
</ros2_control>

</robot>