# ROS
build/
devel/
install/
logs/
build_isolated/
devel_isolated/
bin/
lib/
msg_gen/
srv_gen/
actionlib_msgs/
*.pyc
*.pyo
*.pyd
*.so
*.o
*.a
*.d
*.lo
*.la
*.gcda
*.gcno
*.gcov
*.cfgc
msg/*Action.msg
msg/*ActionFeedback.msg
msg/*ActionGoal.msg
msg/*ActionResult.msg
msg/*Feedback.msg
msg/*Goal.msg
msg/*Result.msg
/cfg/cpp/
/cfg/*.py
*.dox
*.wikidoc
.project
.cproject
.pydevproject
*.swp
*~
.#*
.vscode/
.idea/
CMakeLists.txt.user
qtcreator-*
*.user
CATKIN_IGNORE
*.tar.gz
*.pcd

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.egg-info/
.egg-info/
*.egg
MANIFEST

# MATLAB
*.asv
*.m~
*.mex*
*.mlappinstall
*.mltbx
helpsearch*/
slprj/
sccprj/
codegen/
*.autosave
*.slxc
octave-workspace
crash_dump*
*.rpt
*.html
*.pdf
*.latex
*.bak
*.mlapp
*.fig

# Other
*.bak
